<p id="notice"><%= notice %></p>

<h1>Availability Dashboard</h1>

<table border="1">
  <thead>
    <tr>
      <th>Report Date</th>
      <th>Lender Name</th>
      <th>Sharecode</th>
      <th>Quantity Available</th>
      <th>Fee Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lenders.each do |lender| %>
      <tr>
        <td><%= lender.ReportDate %></td>
        <td><%= lender.LenderName %></td>
        <td><%= lender.Sharecode %></td>
        <td><%= lender.QuantityAvailable %></td>
        <td><%= lender.FeeRate %></td>
        <td><%= link_to 'Show', lender %></td>
        <td><%= link_to 'Edit', edit_lender_path(lender) %></td>
        <td><%= link_to 'Delete', lender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New', new_lender_path %>
