<p id="notice"><%= notice %></p>

<p>
  <strong>Report Date:</strong>
  <%= @lender.ReportDate %>
</p>

<p>
  <strong>Lender Name:</strong>
  <%= @lender.LenderName %>
</p>

<p>
  <strong>Sharecode:</strong>
  <%= @lender.Sharecode %>
</p>

<p>
  <strong>Quantity Available:</strong>
  <%= @lender.QuantityAvailable %>
</p>

<p>
  <strong>Fee Rate:</strong>
  <%= @lender.FeeRate %>
</p>

<%= link_to 'Edit', edit_lender_path(@lender) %> |
<%= link_to 'Back', lenders_path %>
